/*
html, body {
  background-color: #000;
  margin: 0;
  padding: 0;
}
*/

#mainDiv {
}
#gameDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  background: black;
  border: 1px solid white;
}
